footer {
    margin-top: 15px;
    background: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 25px;
    padding: 10px;
}

.rights {
    flex-grow: 1;
    color: #dfdfdf;
    font-size: 12px;
}